@mixin btnthmestyle($bg-color,$bg-hover-color,$bg-disabled-color,$text-color,$box-shadow-color){
  border-color: $bg-color;
  background-color: $bg-color;
  color: $text-color;

  &:focus {
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px $box-shadow-color;
  }

  &:hover{
    background-color: $bg-hover-color;
  }

  &:disabled {
    background: $bg-disabled-color;
    border-color: $bg-disabled-color;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
}

.btn {
  padding: 10px 15px;
  border: none;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.btn-primary {
  $text-color: #fff;
  $bg-color: #7F56D9;
  $bg-hover-color:#6941C6;
  $bg-disabled-color:#E9D7FE;
  $box-shadow-color:  #F4EBFF;

  @include btnthmestyle($bg-color,$bg-hover-color,$bg-disabled-color,$text-color,$box-shadow-color);
}

.btn-secondary{
  $text-color:#fff;
  $bg-color: #D92D20;
  $bg-hover-color:#B42318;
  $bg-disabled-color: #FECDCA;
  $box-shadow-color:  #FEE4E2;

  @include btnthmestyle($bg-color,$bg-hover-color,$bg-disabled-color,$text-color,$box-shadow-color);
}

.btn-link{
  $text-color:#344054;
  $bg-color: transparent;
  $bg-hover-color:#F9FAFB;
  $bg-disabled-color: #D0D5DD;
  $box-shadow-color:  transparent;

  @include btnthmestyle($bg-color,$bg-hover-color,$bg-disabled-color,$text-color,$box-shadow-color);
}

.border-none{
  border: none;
}

.btn-outline-primary{}

.btn-outline-secondary{}

.btn-large{}

.btn-medium{}