@use './assets/styles/responsive' as *;
.sidebar {
 position: fixed !important;
 top: 10px;
 left: 10px;
 bottom: 10px;
 border: none !important;
 z-index: 1;

 .ps-sidebar-container {
  @include responsive(min-lg) {
   border-radius: 10px;
  }
 }

 .ps-menu-button {
  &:hover {
  }
 }
}
