@use './assets/styles/responsive' as *;

.layoutWrap {
 transition: ease all 0.3s;

 @include responsive(min-md) {
  margin-left: 270px;
 }

 &:global(.collapsed) {
  @include responsive(min-md) {
   margin-left: 100px;
  }
 }
}

.baseElement {
 @include responsive(min-lg) {
 }
}
