@use './assets/styles/responsive' as *;

.layoutWrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;

  transition: ease all 0.3s;

  @include responsive(min-lg) {
    margin-left: 270px;
  }

  &:global(.collapsed) {
    @include responsive(min-lg) {
      margin-left: 100px;
    }
  }
}

.baseElement {
  @include responsive(min-lg) {}
}